name: Deploy

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'staging'
        type: choice
        options:
        - staging
        - production

jobs:
  deploy:
    runs-on: ubuntu-latest
    container: # Specifies the Docker image to use for this job
      image: docker:latest # Replace with your desired image and tag

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT_PJPYLIB }}

      - name: Get latest tag
        # id: get_latest_tag
        run: |
          git fetch --tags
          LATEST_TAG=$(git tag | sort --version-sort | tail -n1)
          # echo "latest_tag=$LATEST_TAG" >> $GITHUB_OUTPUT
          echo "latest_tag=$LATEST_TAG"

      - name: Build docker image
        run:
          docker build -t pjpylib_stg:latest -t pjpylib_stg:$LATEST_TAG .
