name: Deploy

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'staging'
        type: choice
        options:
        - staging
        - production

jobs:
  deploy:
    runs-on: ubuntu-latest
    # container: # Specifies the Docker image to use for this job
    #   image: docker:latest # Replace with your desired image and tag

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT_PJPYLIB }}

      - name: Get latest tag
        # id: get_latest_tag
        run: |
          git fetch --tags
          LATEST_TAG=$(git tag | sort --version-sort | tail -n1)
          echo "latest_tag=$LATEST_TAG" >> $GITHUB_OUTPUT

      - name: Check output
        env:
          RELEASE_VERSION: ${{ steps.vars.outputs.latest_tag }}
        run: |
          echo $RELEASE_VERSION
          echo ${{ steps.vars.outputs.latest_tag }}

      # - name: Build docker image
      #   run:
      #     docker build -t pjpylib_stg:latest -t pjpylib_stg:$LATEST_TAG .

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3 # Set up Buildx for improved Docker builds

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: . # The build context (current directory of the repository)
          file: ./Dockerfile # Path to your Dockerfile
          push: false # Set to true to push to a registry (e.g., Docker Hub, GHCR)
          tags: | # Define image tags (e.g., your-username/my-image:latest)
            pjulian/pjPyLib:${{ steps.vars.outputs.latest_tag }}
          # pjulian/pjpylib-stg:latest
          # Add other options like build-args, target, etc. as needed
